<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286416699426-1fnqle1e68igv1h81l4bi577p42flc6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286416699426-1fnqle1e68igv1h81l4bi577p42flc6b</string>
	<key>API_KEY</key>
	<string>AIzaSyCPgzTvWQrX5tCGQ2gLIJ43XbiZa7DhtZk</string>
	<key>GCM_SENDER_ID</key>
	<string>286416699426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sarwatshah.wallpapers-x</string>
	<key>PROJECT_ID</key>
	<string>wallpapers-x-b72e4</string>
	<key>STORAGE_BUCKET</key>
	<string>wallpapers-x-b72e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286416699426:ios:30ef586ffc6d37d01d8a7b</string>
	<key>DATABASE_URL</key>
	<string>https://wallpapers-x-b72e4.firebaseio.com</string>
</dict>
</plist>